{% extends 'notes/base.html' %}
{% block content %}

{% block add_task %}
<p><a href="{{menu.url}}/">{{menu.title}}</a></p>
{% endblock add_task %}

<div class="content">
<h1>Список задач </h1>
<div class="item-titles">
            <div class="name"><b>Задача</b></div>
            <div class="date">Дата</div>
            <div class="status">Статус</div>
            <div class="btns">Кнопки</div>
</div>

{% for task in task_list %}

<div class="item">
<div class="name"><b>{{ task.task_name }}</b></div>
<div class="date">{{ task.task_date }}</div>
<div class="status">
    {% if task.performed == False %}
    <span>Не завершено</span>
    {% else %}
    <span>Завершено</span>
    {% endif %}
</div>
<div class="btns">
    {% if task.performed == False %}
    <a class="btn close" href="{% url 'update' task_id=task.id %}">Закрыть</a>
    {% else %}
    <a class="btn open" href="{% url 'update' task_id=task.id %}">Открыть</a>
    {% endif %}
    <a class="btn delete" href="{% url 'delete' task_id=task.id %}">Удалить</a>
</div>
</div>

{% endfor %}
</div>
{% endblock content %}